<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loading...</title>

    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'music/css/app.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'music/css/loading_page.css' %}">


</head>
<body>
    <div id="load">
        <img src="{% static 'music/images/loading.gif' %}" alt="loading">
    </div>

    <script>
        function checkStatus() {
            setInterval(function() {
                fetch('/check_file_in_gcs/')
                .then(response => response.json())
                .then(data => {
                    if (data.file_exists) {
                        window.location.href = '/result/';  // 결과 페이지로 리디렉션
                    }
                });
            }, 5000);  // 5초마다 체크
        }

        // 페이지 로드 시 상태 체크 시작
        window.onload = checkStatus;
    </script>
</body>
</html>