<!DOCTYPE html>
<html lang="en&ko-KR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loading</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'music/css/app.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'music/css/loading.css' %}">
</head>
<body>
    <div id="load">
        <img src="{% static 'music/images/loading.gif' %}" alt="loading">
    </div>

    <script>
        // 3초 후에 서버 측에서 contents 페이지로 이동
        setTimeout(function() {
            window.location.href = "{% url 'contents_page' %}";
        }, 3000);
    </script>
</body>
</html>
