#load {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    background: white;
    z-index: 99;
    text-align: center;
}

#load > img {
    width: 50%; /* 이미지 너비를 50%로 설정 */
    height: auto; /* 이미지 비율을 유지하면서 높이를 자동으로 조절 */
    z-index: 100;
}